@charset "utf-8";
/* CSS Document */
/*公用*/
*{margin:0;padding:0;text-decoration:none;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
body{background-color:#FFFFCC;}
.comWidth{width:1260px;margin:0 auto;}

/*header*/
.header {clear:both;border-bottom:2px solid #ccc;}
.head_nav {height:35px;}
.head_nav a {float:right;font-weight:bold;color:#3FE216;line-height:35px;font-size:24px;text-align:center;margin-right:40px;}
.head_nav a:hover {border-bottom:2px solid #3F0;}

/*introduce*/
.introduce {border-bottom:2px solid #ccc;padding:30px 0;positon:relative;}
.introduce p {height:50px;line-height:50px;font-size:20px;}
.introduce a {color:#3FE216;font-size:26px;font-weight:bold;}
.introduce .line_1 {height:60px;line-height:60px;font-size:60px;font-family:Tahoma, Geneva, sans-serif;color:#3FE216;}
.introduce img{position:absolute;top:100px;right:100px;}

/*demo_show*/
.demo_show {text-align:center;border-bottom:2px solid #ccc;}
.demo_show h2{margin:20px 0;font-weight:normal;}
.demo_show p {margin-bottom:20px;color:#3FE216;font-size:30px;font-weight:bold;}

/*demo_list*/
.demo_list {padding:30px 0;}
.demo_list li{list-style:none;height:40px;line-height:40px;}
.demo_list a {color:#2C68F5;font-size:16px;font-family: 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;letter-spacing:2px;}